<div ng-controller="permissionsetsListCtrl" ng-init="init()">
    <!-- BEGIN PAGE HEADER-->

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="\">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>PermissionSets</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        PermissionSets
        <small>Manage permission sets for LotusInn</small>
    </h3>
    <!-- END PAGE HEADER-->
    <div ng-repeat="item in alertSvc.alerts" class="alert alert-{{item.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertSvc.remove(item)"></button>
        <strong>{{item.title}}</strong> {{item.body}}
    </div>
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet">
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-bordered table-hover table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th style="width: 200px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="permissionSets.length == 0">
                                            <td colspan="3">
                                                There are no items
                                            </td>
                                        </tr>
                                        <tr ng-repeat="set in permissionSets">
                                            <td>
                                                <a href="/permissionsets/detail?id={{set.Id}}">{{set.Name}}</a>
                                            </td>
                                            <td>{{set.Type}}</td>
                                            <td>
                                                <button title="Edit this permission sets" class="btn btn-outline btn-xs blue-hoki" ng-click="edit(set)">
                                                    <i class="fa fa-edit"></i>
                                                    Edit
                                                </button>
                                                <button title="Delete this permission sets" class="btn btn-outline btn-xs red-flamingo" ng-click="delete(set)">
                                                    <i class="fa fa-remove"></i>
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>


@section AngularController{
    <script src="~/app/components/permissionsets/permissionsets.list.js"></script>
}
