<div ng-controller="dashboardCtrl" ng-init="init()">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Dashboard
    </h3>
    <div class="page-bar">
        <div class="date-range">
            <label class="control-label dr-label">From</label>
            <div class="input-group date input-medium dr-control" datepicker dp-options="datePickerOptions" ng-model='dtRange.startDate'>
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
            </div>
            <label class="control-label dr-label">To</label>
            <div class="input-group date input-medium dr-control" datepicker dp-options="datePickerOptions" ng-model='dtRange.endDate'>
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
            </div>
            <label class="control-label dr-label error">{{dtRange.message}}</label>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div ng-repeat="item in alertSvc.alerts" class="alert alert-{{item.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertSvc.remove(item)"></button>
        <strong>{{item.title}}</strong> {{item.body}}
    </div>
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">

        <div class="col-md-12">
            <div ng-show="dashboard.Houses.length == 0">
                There are no houses yet. Click <a href="/houses/addedit">here</a> to add new house.
            </div>
            <div class="portlet light" ng-repeat="house in dashboard.Houses" ng-show="dashboard.Houses.length > 0">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-organization font-red-flamingo"></i>
                        <a href="/houses/detail?id={{house.Id}}">
                            <span class="caption-subject bold font-red-flamingo uppercase">
                                {{house.Name}}
                            </span>
                        </a>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title="">
                        </a>
                    </div>
                    <div class="actions">

                        <a href="/orders/checkin?houseId={{house.Id}}" class="btn btn-circle yellow-casablanca ">
                            <i class="fa fa-user-plus"></i> Checkin
                        </a>
                        <a href="/orders/checkin?houseId={{house.Id}}&mode=reserve" class="btn btn-circle yellow-saffron ">
                            <i class="fa fa-user-plus"></i> Reserve
                        </a>

                        <div class="btn-group">
                            <a class="btn btn-circle btn-default " href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> Manage <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/houses/addedit?id={{house.Id}}">
                                        <i class="fa fa-pencil"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="/roomtypes/addedit?houseId={{house.Id}}">
                                        <i class="icon-tag"></i> New Room Type
                                    </a>
                                </li>
                                <li>
                                    <a href="/rooms/addedit?houseId={{house.Id}}">
                                        <i class="fa fa-th-large"></i> New Room
                                    </a>
                                </li>
                                <li>
                                    <a href="/users/addedit">
                                        <i class="fa fa-user"></i> New User
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-stat yellow-casablanca">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        {{house.TotalGuest}}
                                    </div>
                                    <div class="desc">
                                        Total Customers
                                    </div>
                                </div>
                                <a class="more" href="/customers?houseId={{house.Id}}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dashboard-stat purple-wisteria">
                                <div class="visual">
                                    <i class="fa fa-th-large"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        {{house.RoomCoverRating}}%
                                    </div>
                                    <div class="desc">
                                        Room cover
                                    </div>
                                </div>
                                <a class="more" href="/houses/detail?id={{house.Id}}">
                                    View more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Customers checkout today</h3>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Room</th>
                                    <th>Checkin Date</th>
                                    <th>Checkout Date</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="house.CustomersCheckoutList.length == 0">
                                    <td colspan="5">
                                        There are no items
                                    </td>
                                </tr>
                                <tr ng-hide="house.CustomersCheckoutList.length == 0" ng-repeat="c in house.CustomersCheckoutList">
                                    <td>{{c.Name}}</td>
                                    <td>
                                        <span class="label bg-purple-studio" ng-repeat-start="r in c.Rooms">#{{r.RoomNumber}} - {{r.RoomType.Price}}{{r.RoomType.Unit}}</span>
                                        <span ng-repeat-end>&nbsp;</span>
                                    </td>
                                    <td>{{c.CheckinDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{c.CheckoutDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button type="button" class="btn red-intense" ng-click="checkout(c.OrderId)">
                                            <i class="icon-calculator"></i>
                                            Checkout
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" style="width: 1450px; max-width: 100%; overflow-x: scroll">
                            <h3>Room availability <small>From {{dtRange.startDate | date : 'dd/MM/yyyy'}} to {{dtRange.endDate | date : 'dd/MM/yyyy'}}</small>
                            </h3>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th rowspan="2">Room</th>
                                    <th ng-repeat="state in house.RoomsState[0].States">{{state.Date |date : 'EEE'}}</th>
                                </tr>
                                <tr>
                                    <th style="font-size: 11px;" ng-repeat="state in house.RoomsState[0].States">{{state.Date |date : 'd/M'}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="r in house.RoomsState">
                                    <td ng-bind-html="getRoomInfo(r, house)"></td>
                                    <td ng-repeat="state in r.States" class="roomstate {{state.Availability.toLowerCase()}}" >
                                        <div ng-if="state.Availability == 'Busy'" context-menu="busyContextMenu">v</div>
                                        <div ng-if="state.Availability == 'Available'" context-menu="availableContextMenu">0</div>
                                        <div ng-if="state.Availability == 'Reserved'" context-menu="reserveContextMenu">x</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td ng-repeat="state in house.RoomsState[0].States" class="roomstate">
                                        {{getCount(house.RoomsState, state)}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END PAGE CONTENT-->
    
</div>
@section AngularController{
    
    <script src="~/app/components/dashboard/dashboard.js"></script>
}
