<div ng-controller="roleDetailCtrl" ng-init="init()">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/role">Roles</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Detail</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        {{role.Name}}
    </h3>
    <!-- END PAGE HEADER-->
    <div ng-repeat="item in alertSvc.alerts" class="alert alert-{{item.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertSvc.remove(item)"></button>
        <strong>{{item.title}}</strong> {{item.body}}
    </div>
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">

            <div class="table-scrollable">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Object Name</th>
                            <th class="permission-col">Read</th>
                            <th class="permission-col">Create</th>
                            <th class="permission-col">Edit</th>
                            <th class="permission-col">Delete</th>
                            <th class="permission-col">Full Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in permissionObjects">
                            <td>{{obj}}</td>
                            <td class="permission-col">
                                <input type="checkbox" ng-disabled="role.Type == 'System'" ng-model="permissionList[obj].Read" />
                            </td>
                            <td class="permission-col">
                                <input type="checkbox" ng-disabled="role.Type == 'System'"  ng-model="permissionList[obj].Create" />
                            </td>
                            <td class="permission-col">
                                <input type="checkbox" ng-disabled="role.Type == 'System'"  ng-model="permissionList[obj].Edit" />
                            </td>
                            <td class="permission-col">
                                <input type="checkbox" ng-disabled="role.Type == 'System'"  ng-model="permissionList[obj].Delete" />
                            </td>
                            <td class="permission-col">
                                <input type="checkbox" ng-disabled="role.Type == 'System'"  ng-model="permissionList[obj].FullControl" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9 col-md-offset-3">
                <button class="btn blue" ng-disabled="role.Type == 'System' || !hasPermission('Edit', 'Role')" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->    
</div>
@section AngularController{

    <script src="~/app/components/roles/role.detail.js"></script>
}
